@page
@model AdventureGame.PlaceModel
@{
    ViewData["Title"] = "Place";
}

<h1>@Model.Location.Title</h1>
<div>@Model.Location.Description</div>
<div class="m-1">
    @foreach (var target in Model.Targets)
    {
        if (Model.State.HP <= 0)
        {
            target.To = Models.Room.GameOver;
        }
        if (target.To == Models.Room.GameRoom)
        {
            <a class="btn btn-secondary" asp-page="RPS">@target.Description</a>
        }
        else
        {
            <a class="btn btn-secondary" asp-page="Place" asp-route-id="@target.To">@target.Description</a>
        }
    }
    <div class="avatar"style="padding-left:70%">
        <img style="width: 75%;" class="img" src="~/img/avatar.png" alt="avatar">
    </div>
    <div style="padding-left:72%">
        <a style="color:red">HP: @Model.State.HP</a>
        <a style="color:deepskyblue">Level: @Model.State.Level</a>
        @if (Model.State.Equipment != null)
        {
            @foreach (var x in Model.State.Equipment)
            {
                <a>@x</a>
            }
        }
        <a style="color:gold">Gold: @Model.State.Money</a>
    </div>

</div>
